<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.laibao.mybatis3.simple.model.Country" alias="Country"/>
        <typeAlias type="com.laibao.mybatis3.simple.model.SysUser" alias="SysUser"/>
        <typeAlias type="com.laibao.mybatis3.simple.model.SysRole" alias="SysRole"/>
        <typeAlias type="com.laibao.mybatis3.simple.model.SysPrivilege" alias="SysPrivilege"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://XXXXXX:3306/test"/>
                <property name="username" value="XXXXX"/>
                <property name="password" value="XXXXX"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/CountryMapper.xml"/>
        <mapper resource="mybatis/SysUserMapper.xml"/>
        <mapper resource="mybatis/SysRoleMapper.xml"/>
        <mapper resource="mybatis/SysPrivilegeMapper.xml"/>
    </mappers>
</configuration>
