<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laibao.mybatis3.simple.mapper.SysRoleMapper">

    <resultMap id="roleResultMap" type="SysRole">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="enabled" column="enabled"/>
        <result property="createBy" column="create_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <select id="selectRoleById" resultMap="roleResultMap">
        select id,role_name,enabled,create_by
        from sys_role
        where id = #{id}
    </select>

    <select id="selectAllSysRoles" resultMap="roleResultMap">
        select id,role_name,enabled,create_by
        from sys_role
    </select>

</mapper>