<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laibao.mybatis3.simple.mapper.SysUserMapper">
    <resultMap id="userResultMap" type="SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassWord" column="user_pass_word"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <select id="selectUserById" resultMap="userResultMap">
        select id,user_name,user_pass_word,user_email,user_info
        from sys_user
        where id = #{id}
    </select>

    <select id="selectAllSysUsers" resultMap="userResultMap">
        select id,user_name,user_pass_word,user_email,user_info
        from sys_user
    </select>

</mapper>